

#mainaboutdiv
{
  position:relative;
  left:15vw;
  height:20%;
  width:60vw;

  font-family:-apple-system,BlinkMacSystemFont,"Calibri(Body)";
  font-size:1.4vw;

  text-align: justify;
  
}
#message
{
  position:relative;
  left:15vw;
  height:30%;
  width:60vw; 
  font-family:-apple-system,BlinkMacSystemFont,"Calibri(Body)";
  font-size:1.4vw;
  
  text-align: justify;

}

#message p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;  
  }
  
  .principalsdetals
  {
    box-shadow: rgb(87, 28, 182) 8px 8px 15px;
    border: 2px outset brown;
    width: 300px;
    height: auto;
    margin: 15px;
    padding: 10px;
    display:block;
    font-family:-apple-system,BlinkMacSystemFont,"Calibri(Body)";
    font-size:1.4vw;
  }

  #collectivediv
  {
    position: absolute; 
    top:55px;
  }

  

  #pricipalstitle
    {
        left:20%; text-align: center; font-size:2.5vw; font-weight: 600;
    }

    #princ
    {
        position:absolute; top:98%; left:10%
    }
    #dep1
    {
        position:absolute; top:98%; left:55%; height:350px;
    }

    #dep2
    {
        position:absolute; top:98%; left:100%
    }

    @media screen and (max-width: 500px) 
    {
        img { width:15vw; height:15vw; }
        .principalsdetals { width:100%; margin:0px;}
        #princ{  position:absolute; top:100%; left:0px; } 
        #dep1 { position:absolute; top:110%; left: 0px} 
        #dep2 {position:absolute; top:120%; left:0px; height:30vh;}
        #pricipalstitle {font-size: 4vw;}  
    }
    
    @media screen and (max-width: 1250px) 
    {
      .principalsdetals { width:100%;}
        #princ{  position:relative; top:100%; left:0px; } 
        #dep1 { position:relative;top:120%; left: 0px; height:auto;} 
        #dep2 {position:relative; top:140%; left:0px;}  
        
    }